@charset "utf-8";
/* CSS Document */

#protected-post{
	margin:20px 0;
}

#protected-post .row{
	display:block;
	width:100%;
	font-size:0;
}

#protected-post .pp_left{
	display:inline-block;
	width:50%;
    padding-right:10px;
    box-sizing: border-box;
}

#protected-post input,
#protected-post button{
	vertical-align:top;
}

#protected-post input{
    width: 100%;
    font-size: 1rem;
}

#protected-post .pp_error{
	color:#e10202;
}